body{
    margin: 0;
    font-family: 'Archivo Narrow';
}

.cabecera{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: mediumpurple;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.titulo{
    background-color: white;
    border-radius: 10px;
    padding-right: 20px;
    padding-left: 20px;

}

.subtitulo{
    font-size: 3.0em;
}
.subsubtitulo{
    font-size: 1.5em;
}
.info{
    font-size: 1.2em;
}

.button{
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    box-shadow: 2px 2px 10px black;
    background-color: mediumpurple;
    cursor: pointer;
}

.button:hover{
    background-color: rgb(115, 0, 223);
}

.container{
    text-align: center;
}

.funciones{
    display: flex;
    justify-content: center;
}
.carta{
    color: white;
    background-position: ceter center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("imagenes/reporte.jpg");
    width: 50%;
    margin-left: 50px;
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("imagenes/usuarios.jpg");
    width: 50%;
    margin-left: 50px;
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url("imagenes/consumo.jpg");
    width: 50%;
    margin-left: 50px;
}


.salir{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}