<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link rel="stylesheet" href="{% static 'registro.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>
  function token(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = token('csrftoken');

</script>
</head>
<body>
  <header class="cabecera">
    <div class="logo">
      <img src="{% static 'imagenes/logo_2.png' %}" alt="logo de la compania"/>
      <h2>SGU Y CONSUMO ENERGETICO</h2>
    </div>
    <nav>
      <span class="navbar_text"> Pagar </span>
    </nav>
  </header>
  <!-- Replace "test" with your own sandbox Business account app client ID -->
  <script src="https://www.paypal.com/sdk/js?client-id=AR1ReLSU1hsMq2qaWDgE81XOl0Czj3wS_5Vpbevl-lQK8N4EAm4rd1Phm2qoFMjQJWXN3KxRXpWhpj1S"></script>
  <!-- Set up a container element for the button -->
  <div id="paypal-button-container"></div>
  <script>
    var facturaValue = {{ factura.total_factura }};
    var facturaId=  {{ factura.id }};
    paypal.Buttons({
      // Sets up the transaction when a payment button is clicked
      createOrder: (data, actions) => {
        return actions.order.create({
          purchase_units: [{
            amount: {
              value: facturaValue //Poner el valor de la factura que se pasa por view 
            }
          }]
        });
      },


      // Finalize the transaction after payer approval
      onApprove: function(data){
        return fetch('/pago/'+facturaId+'/', {
          method: "POST",
          headers:{
            'content-type': 'application/json',
            'X-CSRFToken': csrftoken
            
          },
          body: JSON.stringify({
            orderID: data.orderID
          })
        }).then(function(res) {
          return res.json();
        }).then(function(details) {
          alert(details.mensaje);
        })
      }
    
    }).render('#paypal-button-container');
  </script>
</body>
</html>